.navigation{
    border:2px solid black;
    border-radius:20px;
    padding:20px;
    background-color: black;
    opacity: 0.6;
    box-sizing:border-box;
}
.navigation button{
position: relative;
top:35px;
left:80px;
border-radius:10px;  
font-size:17px;  
padding:2px 10px;
background-color: rgb(237, 36, 5);
color: aliceblue;
}
.navigation button:hover{
    border:2px solid white;
}
.navigation ul li{
    padding:10px 40px; position:relative;
left:70px;
font-size:20px;
color:beige;
font-weight: bold;
text-decoration: none;
}
.navigation ul li:hover{
border:2px solid white;
border-radius:10px;
background-color: rgb(249, 249, 250);
color: rgb(27, 7, 213);
}
.navigation img{
    height:100px;
    width:100px;
    position: relative;
    left:180px;
    top:10px;
    border-radius:10px;
}
.para{
    border:2px solid white;
    background-color: white;
    position: relative;top:100px;
    left:350px;
    display: inline-flex;
    padding:10px 20px;
    border-radius: 20px;
}

.para p{
    font-size:20px;
    font-style: italic;
}
.para a{
    position: absolute;
    top:120px;
}